.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: "Epilogue", sans-serif;
    color: #2D2D2D;
}

html {
    font-size: 17px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

input,
textarea,
button,
select {
    font: inherit;
}

/* .wrapper {
    border: 1px solid #000;
} */

.container-long {
    width: 100%;
    padding: 0 100px;
}

/* header ----------------------------------------------- */
header .navbar-header {
    height: 80px;
    max-width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    align-items: center;

}

header ul li a {
    margin-left: 50px;
}

/* .portfolio ----------------------------------------------- */
.portfolio {
    margin: 100px 0;
}

.portfolio-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-item-left {
    max-width: 585px;
}

.portfolio-item-left-content h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;


}

.portfolio-item-left-content h1 {

    font-weight: 600;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 0%;
    vertical-align: middle;


}

.portfolio-item-left-content p {

    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0%;

}

/* product ---------------------------------------------- */
.product.container-long {
    width: 100%;
    padding: 0 140px;

}

.product {
    margin: 180px 0;
}

.product-item.row {
    justify-content: space-between;
}

.product-item .col-4 {
    display: inline-block;
}

.product-item .product-item-content {
    width: 249.89915466308594px;
    height: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-item-content .img {
    margin-bottom: 56px;
}

.product-item-content h3 {

    font-weight: 600;
    font-size: 27px;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;

}

.product-item-content p {

    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;

}

/* latestWork ---------------------------------------------- */
.latestWork {
    text-align: center;
}

.latestWork h2 {

    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0%;
    margin-bottom: 60px;
}

.latestWork-item-row {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 33.75px;
    margin-bottom: 60px;
}

.latestWork-item-content .title p:first-child {

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    margin-top: 25px;
    margin-bottom: 10px;
}

/* footer-item ---------------------------------------------- */

footer {
    margin: 70px 0;
}

.footer-item {

    display: flex;
    justify-content: space-between;
}

.footer-item-left-item {
    max-width: 360px;
    height: 217px;


}

.footer-item-left h2 {

    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 40px;

}

.footer-item-left p {

    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0%;
    margin-bottom: 60px;
}

.social-icon {
    display: flex;
}

.social-icon a {
    margin-right: 13px;
}

.footer-item-right {
    width: 530px;
    height: 529px;

}

.footer-item-right .form-control-set {
    width: 530px;
    height: 69px;

    padding-top: 21px;
    padding-right: 30px;
    padding-bottom: 21px;
    padding-left: 30px;

    border: none;
    margin-bottom: 20px;

    background-color: #F3F3F3;

}

.footer-item-right input {
    width: 100%;
    height: auto;
    border: none;
    background-color: #F3F3F3;
}

.form-control-set.textarea {

    height: 231px;


}

.footer-item-right textarea {
    border: none;
    outline: none;
    width: 100%;
    height: auto;
    background-color: #F3F3F3;
}

.footer-item-right button {
    width: 235px;
    height: 80xp;
    padding-top: 25px;
    padding-right: 82px;
    padding-bottom: 25px;
    padding-left: 82px;

    background-color: #2D2D2D;
    color: #FFFFFF;

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin-top: 30px;
}


@media (max-width: 1023px) {
    .container-long {
        width: 100%;
        padding: 0 30px;
    }

    .portfolio {
        margin: 100px 0;
    }

    .portfolio-item {

        flex-direction: column;
    }

    .portfolio-item-left {
        max-width: 585px;
        margin: 0 auto;
    }

    .portfolio-item-left-content h5 {


        text-align: center;

    }

    .portfolio-item-left-content h1 {

        font-family: Epilogue;
        font-weight: 600;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;




    }

    .portfolio-item-left-content p {

        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        letter-spacing: 0%;

    }
}